.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.image-to-show {
  position: absolute;
  left: 32%;
  top: 20%;
  width: 600px;
  height: 400px;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.active {
  opacity: 1;
  z-index: 2;
}
